In [1]:
import pandas as pd
import datetime
import time

In [2]:
date = datetime.datetime.today()
date_modify = str(date)
date_to_add = date_modify[0:10]

In [3]:
daily = "https://www.tn.gov/health/cedep/ncov.html"
viral = pd.read_html(daily)
df2 = viral[5]
TN_county = df2[:-3]
TN_county.loc[:,'Date']=date_to_add
TN_county["County"] = TN_county.loc[:, ('County')].str.split(" County", expand = True)
TN_county

ValueError: No tables found

In [4]:
url2="https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
viral_times=pd.read_csv(url2)
viral_times

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1       0
1       2020-01-22   Snohomish  Washington  53061.0      1       0
2       2020-01-23   Snohomish  Washington  53061.0      1       0
3       2020-01-24        Cook    Illinois  17031.0      1       0
4       2020-01-24   Snohomish  Washington  53061.0      1       0
...            ...         ...         ...      ...    ...     ...
264115  2020-06-23  Sweetwater     Wyoming  56037.0     58       0
264116  2020-06-23       Teton     Wyoming  56039.0    113       1
264117  2020-06-23       Uinta     Wyoming  56041.0    152       0
264118  2020-06-23    Washakie     Wyoming  56043.0     38       5
264119  2020-06-23      Weston     Wyoming  56045.0      1       0

[264120 rows x 6 columns]

In [6]:
viral_times.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264120 entries, 0 to 264119
Data columns (total 6 columns):
date      264120 non-null object
county    264120 non-null object
state     264120 non-null object
fips      261364 non-null float64
cases     264120 non-null int64
deaths    264120 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 12.1+ MB

In [5]:
TN=viral_times[viral_times["county"] == 'Davidson']
TN

              date    county           state     fips  cases  deaths
841     2020-03-08  Davidson       Tennessee  47037.0      1       0
970     2020-03-09  Davidson       Tennessee  47037.0      1       0
1127    2020-03-10  Davidson       Tennessee  47037.0      1       0
1323    2020-03-11  Davidson       Tennessee  47037.0      2       0
1569    2020-03-12  Davidson       Tennessee  47037.0      6       0
...            ...       ...             ...      ...    ...     ...
257343  2020-06-21  Davidson       Tennessee  47037.0   8052      95
259874  2020-06-22  Davidson  North Carolina  37057.0    759      15
260390  2020-06-22  Davidson       Tennessee  47037.0   8191      96
262923  2020-06-23  Davidson  North Carolina  37057.0    772      15
263439  2020-06-23  Davidson       Tennessee  47037.0   8258      98

[204 rows x 6 columns]

In [5]:
TN_today=pd.concat([TN_Depth_Health,TN_county], join='outer', sort=True)
TN_today
# TN_cases.to_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/Synched/TNDepthHealth_" + date_to_add + '_today.csv')

NameError: name 'TN_Depth_Health' is not defined

In [10]:
TN_Depth_Health = pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/TNDepthHealth" + date_to_add + '_today.csv')
TN_today=pd.concat([TN_Depth_Health,TN_county], join='outer', sort=True)
TN_today=TN_today.sort_values('County')
TN_today.to_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/Synched" + date_to_add +'_today.csv',index=False)
time.sleep = (10.03)
url2="https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
viral_times=pd.read_csv(url2)
TN=viral_times[viral_times["state"] == 'Tennessee']
TN=TN.rename(columns={'county':'County'})
TN=TN.rename(columns={'date':'Date'})
TN=TN.rename(columns={'cases':'Positive'})
TN=TN.rename(columns={'deaths':'Death'})
TN=TN.drop(['state'], axis=1)

TN_for_update=pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/Synched" + date_to_add +'today.csv')
Synched=TN.append(TN_for_update, sort=True)
TN_cases=Synched.sort_values(["County", "Date"],ascending=[0,1])
TN_cases["Duplicates"]=TN_cases["County"]+TN_cases['Date']
TN_cases = TN_cases.drop_duplicates(subset="Duplicates", keep="last")
TN_cases=TN_cases.drop(['Duplicates'],axis=1)

FileNotFoundError: [Errno 2] File b'C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/TNDepthHealth2020-05-21_today.csv' does not exist: b'C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/TNDepthHealth2020-05-21_today.csv'

In [133]:
# TN_x.to_csv('C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/TNDepthHealth.csv',index=False)

In [ ]:
TN_cases=TN_cases.drop(['Duplicates'],axis=1)
TN_cases

,County,Date,Death,Negative,Percent_Tested,Percentage of County Population,Population,Positive,fips
94,Wilson County,2020-04-02,NaN,756.0,NaN,NaN,NaN,62.0,NaN
5041,Wilson,2020-03-19,0.0,NaN,NaN,NaN,NaN,2.0,47189.0
5930,Wilson,2020-03-20,0.0,NaN,NaN,NaN,NaN,3.0,47189.0
6947,Wilson,2020-03-21,0.0,NaN,NaN,NaN,NaN,3.0,47189.0
8077,Wilson,2020-03-22,0.0,NaN,NaN,NaN,NaN,3.0,47189.0
...,...,...,...,...,...,...,...,...,...
44,Anderson,2020-03-28,NaN,NaN,NaN,0.006,76978.0,5.0,NaN
89,Anderson,2020-03-29,NaN,NaN,NaN,0.008,76978.0,6.0,NaN
154,Anderson,2020-03-30,NaN,NaN,NaN,0.012,76978.0,9.0,NaN
228,Anderson,2020-03-31,NaN,129.0,0.2,0.013,76978.0,10.0,NaN
322,Anderson,2020-04-01,NaN,135.0,0.2,0.013,76978.0,10.0,NaN

In [6]:
url="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html"
viralNYT=pd.read_html(url)
US_counties = viralNYT[2]
US_counties

                                  Cases Connected To  Cases
0     Marion Correctional Institution — Marion, Ohio   2439
1  Pickaway Correctional Institution — Scioto Tow...   1791
2  Trousdale Turner Correctional Center — Hartsvi...   1308
3  Smithfield Foods pork processing facility — Si...   1095
4     Tyson Foods meatpacking plant — Waterloo, Iowa   1031
5             Lompoc Prison Complex — Lompoc, Calif.   1020
6                   Cook County jail — Chicago, Ill.   1018
7                   U.S.S. Theodore Roosevelt — Guam    969
8                  Cummins Unit prison — Grady, Ark.    960
9                Harris County jail — Houston, Texas    947

In [7]:
url2="https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
viral_times=pd.read_csv(url2)
TN=viral_times[viral_times["state"] == 'Tennessee']
TN=TN.rename(columns={'county':'County'})
TN=TN.rename(columns={'date':'Date'})
TN=TN.rename(columns={'cases':'Positive'})
TN=TN.rename(columns={'deaths':'Death'})
TN=TN.drop(['state'], axis=1)
TN.to_csv('C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/NYtimes_historical.csv',index=False)
TN

              Date      County     fips  Positive  Death
570     2020-03-05  Williamson  47187.0         1      0
639     2020-03-06  Williamson  47187.0         1      0
731     2020-03-07  Williamson  47187.0         1      0
841     2020-03-08    Davidson  47037.0         1      0
842     2020-03-08      Shelby  47157.0         1      0
...            ...         ...      ...       ...    ...
161346  2020-05-20       Wayne  47181.0        63      0
161347  2020-05-20     Weakley  47183.0        27      0
161348  2020-05-20       White  47185.0        21      0
161349  2020-05-20  Williamson  47187.0       492     10
161350  2020-05-20      Wilson  47189.0       338      8

[5358 rows x 5 columns]

In [8]:
Synched=TN.append(TN_today, sort=True)
TN_cases=Synched.sort_values(["County", "Date"],ascending=[0,1])
TN_cases["Duplicates"]=TN_cases["County"]+TN_cases['Date']
TN_cases = TN_cases.drop_duplicates(subset="Duplicates", keep="last")
TN_cases

NameError: name 'TN_today' is not defined

In [9]:
TN_deaths = TN_x.merge(TN,left_on='Date',right_on='County', how='outer')

TN_deaths

NameError: name 'TN_x' is not defined

In [ ]:
TN_stuff=pd.concat([TN_x,TN], join='left')
TN_stuff.head(50)