In [1]:
import pandas as pd
import datetime

In [2]:
date = datetime.datetime.today()
date_modify = str(date)
date_to_add = date_modify[0:10]

In [3]:
daily = "https://www.tn.gov/health/cedep/ncov.html"
viral = pd.read_html(daily)
df2 = viral[5]
TN_county = df2[:-3]
TN_county.columns = ['County', 'Positive', 'Negative', 'Death']
TN_county["County"]=TN_county["County"].str.split(" County", expand = True)
TN_county

C:\Users\clayf\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        County  Positive  Negative  Death
0     Anderson        10       203    NaN
1      Bedford         8       120    NaN
2       Benton         4        47    NaN
3      Bledsoe         2        22    NaN
4       Blount        34       259    NaN
..         ...       ...       ...    ...
90       Wayne         2        37    NaN
91     Weakley         1        77    NaN
92       White         2       104    NaN
93  Williamson       239      1698    2.0
94      Wilson        82       884    NaN

[95 rows x 4 columns]

In [4]:
date = datetime.datetime.today()
date_modify=str(date)
date_to_add = date_modify[0:10]
TN_county["Date"]=date_to_add

C:\Users\clayf\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [7]:
TNpop = pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/Population Estimates by County.csv")
TNpop= TNpop.drop([96])
TNpop = TNpop.drop([0])
TNpop["Population Estimates by County"]= TNpop["Population Estimates by County"].str.split(" County", n = 1, expand = True)
TNpop = TNpop.rename(columns={'Population Estimates by County': 'County'})
TN_county_populations = TNpop.rename(columns={'Unnamed: 1': 'Population'})
TN_county_populations["Population"] = TN_county_populations["Population"].str.replace(",","").astype(int)

In [8]:
TN_data = TN_county_populations.merge(TN_county,left_on='County',right_on='County', how='left')
TN_data["Percentage of County Population"] = round((TN_data["Positive"]/TN_data["Population"])*100,3)
TN_data=TN_data.sort_values("Positive", ascending=False).reset_index(drop=True)
TN_data["Percent_Tested"] = round(((TN_data["Positive"]+TN_data["Negative"])/TN_data["Population"])*100,1)
TN_data.sort_values("Percent_Tested", ascending=False)

,County,Population,Positive,Negative,Death,Date,Percentage of County Population,Percent_Tested
72,Houston,8201,2.0,84.0,NaN,2020-04-04,0.024,1.0
0,Davidson,694144,741.0,5445.0,6.0,2020-04-04,0.107,0.9
3,Williamson,238412,239.0,1698.0,2.0,2020-04-04,0.100,0.8
2,Sumner,191283,301.0,1064.0,10.0,2020-04-04,0.157,0.7
6,Wilson,144657,82.0,884.0,NaN,2020-04-04,0.057,0.7
...,...,...,...,...,...,...,...,...
52,Polk,16832,3.0,21.0,NaN,2020-04-04,0.018,0.1
60,Carter,56391,3.0,74.0,NaN,2020-04-04,0.005,0.1
90,Hancock,6620,0.0,9.0,NaN,2020-04-04,0.000,0.1
93,Mcminn,53794,NaN,NaN,NaN,NaN,NaN,NaN
94,Mcnairy,25694,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
march28 = pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/2020-03-28_counties.csv")
march29 = pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/2020-03-29_counties.csv")
march30 = pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/2020-03-30_counties.csv")
march31 = pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/2020-03-31_counties.csv")
april1= pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/2020-04-01_counties.csv")

TN_x=pd.concat([march28,march29,march30,march31,april1], join='outer', sort=True)

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/clayf/Documents/HOC/Covid_predictions/TN/Resources/TNDepthHealth.csv'

In [133]:
TN_x.to_csv('C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/TNDepthHealth.csv',index=False)

In [129]:
# TN_concat = pd.merge(march29,march30,on='County')
# TN_concat
TN_x=pd.concat([march28,march29,march30,march31,april1,new_date], join='outer', sort=True)

TN_x

,County,Date,Death,Negative,Percent_Tested,Percentage of County Population,Population,Positive
0,Sumner,2020-03-28,NaN,NaN,NaN,0.043,191283,82.0
1,Williamson,2020-03-28,NaN,NaN,NaN,0.040,238412,95.0
2,Davidson,2020-03-28,NaN,NaN,NaN,0.035,694144,243.0
3,Robertson,2020-03-28,NaN,NaN,NaN,0.032,71813,23.0
4,Shelby,2020-03-28,NaN,NaN,NaN,0.029,937166,269.0
...,...,...,...,...,...,...,...,...
90,Hancock,2020-04-02,NaN,6.0,0.1,0.000,6620,0.0
91,Henderson,2020-04-02,NaN,86.0,0.3,0.000,28117,0.0
92,Lake,2020-04-02,NaN,16.0,0.2,0.000,7016,0.0
93,Mcminn,2020-04-02,NaN,NaN,NaN,NaN,53794,NaN
94,Mcnairy,2020-04-02,NaN,NaN,NaN,NaN,25694,NaN

In [91]:
url="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html"
viralNYT=pd.read_html(url)
US_counties = viralNYT[2]
US_counties

Empty DataFrame
Columns: [County, Cases, Per 100,000 people, Slower  Faster  Case Growth Rate]
Index: []

In [106]:
url2="https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
viral_times=pd.read_csv(url2)
TN=viral_times[viral_times["state"] == 'Tennessee']
TN=TN.rename(columns={'county':'County'})
TN=TN.rename(columns={'date':'Date'})
TN=TN.rename(columns={'cases':'Positive'})
TN=TN.rename(columns={'deaths':'Death'})
TN=TN.drop(['state'], axis=1)
TN=TN.sort_values("Date", ascending=True)
TN.sort_values("County", ascending=True)
TN

             Date      County     fips  Positive  Death
570    2020-03-05  Williamson  47187.0         1      0
639    2020-03-06  Williamson  47187.0         1      0
731    2020-03-07  Williamson  47187.0         1      0
841    2020-03-08    Davidson  47037.0         1      0
842    2020-03-08      Shelby  47157.0         1      0
...           ...         ...      ...       ...    ...
25740  2020-04-01      Gibson  47053.0         6      0
25739  2020-04-01    Franklin  47051.0         7      0
25737  2020-04-01     Fayette  47047.0        14      0
25746  2020-04-01    Hamilton  47065.0        50      2
25800  2020-04-01      Wilson  47189.0        45      0

[848 rows x 5 columns]

In [121]:
Synched=TN.append(TN_x, sort=True)
TN_cases=Synched.sort_values(["County", "Date"],ascending=[0,1])
TN_cases["Duplicates"]=TN_cases["County"]+TN_cases['Date']
TN_cases = TN_cases.drop_duplicates(subset="Duplicates", keep="last")

,County,Date,Death,Negative,Percent_Tested,Percentage of County Population,Population,Positive,fips,Duplicates
5041,Wilson,2020-03-19,0.0,NaN,NaN,NaN,NaN,2.0,47189.0,Wilson2020-03-19
5930,Wilson,2020-03-20,0.0,NaN,NaN,NaN,NaN,3.0,47189.0,Wilson2020-03-20
6947,Wilson,2020-03-21,0.0,NaN,NaN,NaN,NaN,3.0,47189.0,Wilson2020-03-21
8077,Wilson,2020-03-22,0.0,NaN,NaN,NaN,NaN,3.0,47189.0,Wilson2020-03-22
9296,Wilson,2020-03-23,0.0,NaN,NaN,NaN,NaN,3.0,47189.0,Wilson2020-03-23
10636,Wilson,2020-03-24,0.0,NaN,NaN,NaN,NaN,7.0,47189.0,Wilson2020-03-24
12120,Wilson,2020-03-25,0.0,NaN,NaN,NaN,NaN,10.0,47189.0,Wilson2020-03-25
13757,Wilson,2020-03-26,0.0,NaN,NaN,NaN,NaN,13.0,47189.0,Wilson2020-03-26
15520,Wilson,2020-03-27,0.0,NaN,NaN,NaN,NaN,20.0,47189.0,Wilson2020-03-27
18,Wilson,2020-03-28,NaN,NaN,NaN,0.014,144657.0,20.0,NaN,Wilson2020-03-28
7,Wilson,2020-03-29,NaN,NaN,NaN,0.019,144657.0,27.0,NaN,Wilson2020-03-29
7,Wilson,2020-03-30,NaN,NaN,NaN,0.022,144657.0,32.0,NaN,Wilson2020-03-30
7,Wilson,2020-03-31,NaN,477.0,0.4,0.027,144657.0,39.0,NaN,Wilson2020-03-31
7,Wilson,2020-04-01,NaN,538.0,0.4,0.031,144657.0,45.0,NaN,Wilson2020-04-01
570,Williamson,2020-03-05,0.0,NaN,NaN,NaN,NaN,1.0,47187.0,Williamson2020-03-05
639,Williamson,2020-03-06,0.0,NaN,NaN,NaN,NaN,1.0,47187.0,Williamson2020-03-06
731,Williamson,2020-03-07,0.0,NaN,NaN,NaN,NaN,1.0,47187.0,Williamson2020-03-07
843,Williamson,2020-03-08,0.0,NaN,NaN,NaN,NaN,1.0,47187.0,Williamson2020-03-08
972,Williamson,2020-03-09,0.0,NaN,NaN,NaN,NaN,2.0,47187.0,Williamson2020-03-09
1130,Williamson,2020-03-10,0.0,NaN,NaN,NaN,NaN,4.0,47187.0,Williamson2020-03-10
1326,Williamson,2020-03-11,0.0,NaN,NaN,NaN,NaN,4.0,47187.0,Williamson2020-03-11
1573,Williamson,2020-03-12,0.0,NaN,NaN,NaN,NaN,8.0,47187.0,Williamson2020-03-12
1877,Williamson,2020-03-13,0.0,NaN,NaN,NaN,NaN,9.0,47187.0,Williamson2020-03-13
2242,Williamson,2020-03-14,0.0,NaN,NaN,NaN,NaN,10.0,47187.0,Williamson2020-03-14
2667,Williamson,2020-03-15,0.0,NaN,NaN,NaN,NaN,14.0,47187.0,Williamson2020-03-15
3134,Williamson,2020-03-16,0.0,NaN,NaN,NaN,NaN,18.0,47187.0,Williamson2020-03-16
3667,Williamson,2020-03-17,0.0,NaN,NaN,NaN,NaN,21.0,47187.0,Williamson2020-03-17
4290,Williamson,2020-03-18,0.0,NaN,NaN,NaN,NaN,24.0,47187.0,Williamson2020-03-18
5040,Williamson,2020-03-19,0.0,NaN,NaN,NaN,NaN,35.0,47187.0,Williamson2020-03-19
5929,Williamson,2020-03-20,0.0,NaN,NaN,NaN,NaN,35.0,47187.0,Williamson2020-03-20
6946,Williamson,2020-03-21,0.0,NaN,NaN,NaN,NaN,47.0,47187.0,Williamson2020-03-21
8076,Williamson,2020-03-22,0.0,NaN,NaN,NaN,NaN,48.0,47187.0,Williamson2020-03-22
9295,Williamson,2020-03-23,0.0,NaN,NaN,NaN,NaN,48.0,47187.0,Williamson2020-03-23
10635,Williamson,2020-03-24,0.0,NaN,NaN,NaN,NaN,64.0,47187.0,Williamson2020-03-24
12119,Williamson,2020-03-25,0.0,NaN,NaN,NaN,NaN,66.0,47187.0,Williamson2020-03-25
13756,Williamson,2020-03-26,0.0,NaN,NaN,NaN,NaN,70.0,47187.0,Williamson2020-03-26
15519,Williamson,2020-03-27,0.0,NaN,NaN,NaN,NaN,91.0,47187.0,Williamson2020-03-27
1,Williamson,2020-03-28,NaN,NaN,NaN,0.040,238412.0,95.0,NaN,Williamson2020-03-28
2,Williamson,2020-03-29,NaN,NaN,NaN,0.042,238412.0,101.0,NaN,Williamson2020-03-29
3,Williamson,2020-03-30,NaN,NaN,NaN,0.047,238412.0,111.0,NaN,Williamson2020-03-30
3,Williamson,2020-03-31,NaN,1097.0,0.5,0.055,238412.0,131.0,NaN,Williamson2020-03-31
3,Williamson,2020-04-01,2.0,1194.0,0.6,0.062,238412.0,148.0,NaN,Williamson2020-04-01
12118,White,2020-03-25,0.0,NaN,NaN,NaN,NaN,1.0,47185.0,White2020-03-25
13755,White,2020-03-26,0.0,NaN,NaN,NaN,NaN,1.0,47185.0,White2020-03-26
15518,White,2020-03-27,0.0,NaN,NaN,NaN,NaN,1.0,47185.0,White2020-03-27
52,White,2020-03-28,NaN,NaN,NaN,0.004,27345.0,1.0,NaN,White2020-03-28
53,White,2020-03-29,NaN,NaN,NaN,0.004,27345.0,1.0,NaN,White2020-03-29
54,White,2020-03-30,NaN,NaN,NaN,0.004,27345.0,1.0,NaN,White2020-03-30
64,White,2020-03-31,NaN,59.0,0.2,0.004,27345.0,1.0,NaN,White2020-03-31
55,White,2020-04-01,NaN,64.0,0.2,0.007,27345.0,2.0,NaN,White2020-04-01
10634,Weakley,2020-03-24,0.0,NaN,NaN,NaN,NaN,1.0,47183.0,Weakley2020-03-24
57,Weakley,2020-03-28,NaN,NaN,NaN,0.003,33328.0,1.0,NaN,Weakley2020-03-28
54,Weakley,2020-03-29,NaN,NaN,NaN,0.003,33328.0,1.0,NaN,Weakley2020-03-29
55,Weakley,2020-03-30,NaN,NaN,NaN,0.003,33328.0,1.0,NaN,Weakley2020-03-30
69,Weakley,2020-03-31,NaN,55.0,0.2,0.003,33328.0,1.0,NaN,Weakley2020-03-31
62,Weakley,2020-04-01,NaN,59.0,0.2,0.003,33328.0,1.0,NaN,Weakley2020-04-01
56,Wayne,2020-03-30,NaN,NaN,NaN,0.006,16673.0,1.0,NaN,Wayne2020-03-30
70,Wayne,2020-03-31,NaN,17.0,0.1,0.006,16673.0,1.0,NaN,Wayne2020-03-31
65,Wayne,2020-04-01,NaN,21.0,0.1,0.006,16673.0,1.0,NaN,Wayne2020-04-01
5039,Washington,2020-03-19,0.0,NaN,NaN,NaN,NaN,2.0,47179.0,Washington2020-03-19

In [29]:
TN_deaths = TN_x.merge(TN,left_on='Date',right_on='County', how='outer')

TN_deaths

,County_x,Date_x,Death,Negative,Percent_Tested,Percentage of County Population,Population,Positive,Date_y,County_y,fips,Postive,Deaths
0,Anderson,2020-03-28,NaN,NaN,NaN,0.006,76978.0,5.0,NaN,NaN,NaN,NaN,NaN
1,Bedford,2020-03-28,NaN,NaN,NaN,0.002,49713.0,1.0,NaN,NaN,NaN,NaN,NaN
2,Benton,2020-03-28,NaN,NaN,NaN,0.019,16160.0,3.0,NaN,NaN,NaN,NaN,NaN
3,Bledsoe,2020-03-28,NaN,NaN,NaN,0.013,15064.0,2.0,NaN,NaN,NaN,NaN,NaN
4,Blount,2020-03-28,NaN,NaN,NaN,0.007,133088.0,9.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-30,Giles,47055.0,1.0,0.0
1154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-31,Giles,47055.0,3.0,0.0
1155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-30,Fentress,47049.0,1.0,0.0
1156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-31,Fentress,47049.0,1.0,0.0
1157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-31,Humphreys,47085.0,2.0,0.0

In [ ]:
TN_stuff=pd.concat([TN_x,TN], join='left')
TN_stuff.head(50)