In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import datetime

In [2]:
daily = "https://www.tn.gov/health/cedep/ncov.html"
viral = pd.read_html(daily)
df=viral[3]
testing = df.drop([10])
age_groups = testing.rename(columns={'Age Ranges of Confirmed Cases.1': 'Number_Cases'})
age_groups

  Age Ranges of Confirmed Cases  Number_Cases
0                          0-10            16
1                         11-20            71
2                         21-30           346
3                         31-40           221
4                         41-50           224
5                         51-60           218
6                         61-70           153
7                         71-80            87
8                           80+            28
9                       Pending             9

In [ ]:
df_=viral[4]

# df = df[:-1]
df

In [3]:
TNpop = pd.read_csv("Population Estimates by County.csv")
TNpop= TNpop.drop([96])
TNpop = TNpop.drop([0])
TNpop["Population Estimates by County"]= TNpop["Population Estimates by County"].str.split(" County", n = 1, expand = True)
TNpop = TNpop.rename(columns={'Population Estimates by County': 'County'})
TN_county_populations = TNpop.rename(columns={'Unnamed: 1': 'Population'})
TN_county_populations["Population"] = TN_county_populations["Population"].str.replace(",","").astype(int)
TN_county_populations

        County  Population
1     Anderson       76978
2      Bedford       49713
3       Benton       16160
4      Bledsoe       15064
5       Blount      133088
..         ...         ...
91       Wayne       16673
92     Weakley       33328
93       White       27345
94  Williamson      238412
95      Wilson      144657

[95 rows x 2 columns]

In [4]:

data=viral[4]
data["County"]= data["County"].str.split("County", n = 1, expand = True)
data["Cases"]=data["Cases"].astype(int)
data=data[:-3]
data

        County  Cases
0     Anderson      5
1      Bedford      1
2       Benton      3
3      Bledsoe      2
4       Blount      9
..         ...    ...
62  Washington     14
63     Weakley      1
64       White      1
65  Williamson     95
66      Wilson     20

[67 rows x 2 columns]

In [5]:
TN_data = TN_county_populations.merge(data,left_on='County',right_on='County', how='left')
TN_data

        County  Population  Cases
0     Anderson       76978    5.0
1      Bedford       49713    1.0
2       Benton       16160    3.0
3      Bledsoe       15064    2.0
4       Blount      133088    9.0
..         ...         ...    ...
90       Wayne       16673    NaN
91     Weakley       33328    1.0
92       White       27345    1.0
93  Williamson      238412   95.0
94      Wilson      144657   20.0

[95 rows x 3 columns]

In [11]:
TN_data["Percentage of County Population"] = round((TN_data["Cases"]/TN_data["Population"])*100,3)
x=TN_data.sort_values("Percentage of County Population", ascending=False)
x.reset_index(drop=True)

        County  Population  Cases  Percentage of County Population
0       Sumner      191283   82.0                            0.043
1   Williamson      238412   95.0                            0.040
2     Davidson      694144  243.0                            0.035
3    Robertson       71813   23.0                            0.032
4       Shelby      937166  269.0                            0.029
..         ...         ...    ...                              ...
90  Sequatchie       15026    NaN                              NaN
91     Stewart       13715    NaN                              NaN
92   Van Buren        5872    NaN                              NaN
93      Warren       41277    NaN                              NaN
94       Wayne       16673    NaN                              NaN

[95 rows x 4 columns]

In [16]:
totals = TN_data.sum()
total = pd.DataFrame(totals)
total

                                                                                 0
County                           AndersonBedfordBentonBledsoeBlountBradleyCampb...
Population                                                                 6829174
Cases                                                                         1058
Percentage of County Population                                              0.733

df_counties=viral[4]
file = datetime.datetime.today()
date = file[0:10]
date

In [ ]:
# from pathlib import Path
# p = Path('C:/Users/clayf/Documents/HOC/Covid_predictions/TN/Resources/')
df_counties.to_csv('C:/Users/clayf/Documents/HOC/Covid_predictions/TN/Resources/' + date +'counties2.csv',index=False)

In [ ]:
US = "https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fcases-in-us.html"
us_data = pd.read_html(US)
us_total_cases = us_data[0]
us_total_cases
x=us_data[0]
x