In [1]:
import pandas as pd
import datetime
import time
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
date = datetime.datetime.today()
date_modify = str(date)
date_to_add = date_modify[0:10]

In [3]:
TN=pd.read_excel("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/TN_DH/daily_total.xlsx")
TN["DATE"]=TN["DATE"].astype(str)
TN[" "]

,DATE,TOTAL_CASES,NEW_CASES,TOTAL_CONFIRMED,NEW_CONFIRMED,POS_TESTS,NEG_TESTS,TOTAL_TESTS,NEW_TESTS,NEW_DEATHS,TOTAL_DEATHS,NEW_RECOVERED,TOTAL_RECOVERED,NEW_ACTIVE,TOTAL_ACTIVE,NEW_HOSP,TOTAL_HOSP
0,2020-03-04,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-05,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-06,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-07,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-08,3,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2020-05-27,21306,341.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,2020-05-28,21679,373.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,2020-05-29,22085,406.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2020-05-30,22566,481.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,2020-05-31,23006,440.0,23006.0,NaN,23006.0,412971.0,435977.0,NaN,NaN,364.0,NaN,15300.0,NaN,7342.0,NaN,1750.0

In [7]:
TNpop = pd.read_csv("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/Population Estimates by County.csv")
TNpop= TNpop.drop([96])
TNpop = TNpop.drop([0])
TNpop["Population Estimates by County"]= TNpop["Population Estimates by County"].str.split(" County", n = 1, expand = True)
TNpop = TNpop.rename(columns={'Population Estimates by County': 'County'})
TN_county_populations = TNpop.rename(columns={'Unnamed: 1': 'Population'})
TN_county_populations["Population"] = TN_county_populations["Population"].str.replace(",","").astype(int)

In [8]:
withPop=TN.merge(TN_county_populations,left_on='COUNTY',right_on='County', how='left')
withPop

,DATE,COUNTY,TOTAL_CASES,NEW_CASES,TOTAL_CONFIRMED,NEW_CONFIRMED,POS_TESTS,NEG_TESTS,TOTAL_TESTS,NEW_TESTS,NEW_DEATHS,TOTAL_DEATHS,NEW_RECOVERED,TOTAL_RECOVERED,NEW_ACTIVE,TOTAL_ACTIVE,NEW_HOSPITALIZED,TOTAL_HOSPITALIZED,County,Population
0,2020-03-05,Williamson,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Williamson,238412.0
1,2020-03-06,Williamson,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Williamson,238412.0
2,2020-03-07,Williamson,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Williamson,238412.0
3,2020-03-08,Davidson,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Davidson,694144.0
4,2020-03-08,Shelby,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shelby,937166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6415,2020-05-28,Wayne,63,0.0,63.0,0.0,63.0,2203.0,2266.0,9.0,0.0,0.0,0.0,4.0,0.0,59.0,0.0,2.0,Wayne,16673.0
6416,2020-05-28,Weakley,26,0.0,26.0,0.0,26.0,1180.0,1206.0,4.0,0.0,0.0,1.0,25.0,-1.0,1.0,0.0,1.0,Weakley,33328.0
6417,2020-05-28,White,30,2.0,30.0,2.0,30.0,1296.0,1326.0,26.0,0.0,0.0,3.0,22.0,-1.0,8.0,0.0,3.0,White,27345.0
6418,2020-05-28,Williamson,533,1.0,533.0,1.0,533.0,9215.0,9748.0,98.0,0.0,10.0,3.0,350.0,-2.0,173.0,0.0,46.0,Williamson,238412.0
6419,2020-05-28,Wilson,387,5.0,387.0,5.0,387.0,5942.0,6329.0,66.0,0.0,8.0,6.0,236.0,-1.0,143.0,2.0,29.0,Wilson,144657.0

In [9]:
withPop["Percentage of County with Coronavirus"] = round((withPop["TOTAL_ACTIVE"]/withPop["Population"])*100,3)
withPop["Percent of County Tested"] = round(((withPop["TOTAL_TESTS"]+withPop["NEG_TESTS"])/withPop["Population"])*100,1)
withPop

,DATE,COUNTY,TOTAL_CASES,NEW_CASES,TOTAL_CONFIRMED,NEW_CONFIRMED,POS_TESTS,NEG_TESTS,TOTAL_TESTS,NEW_TESTS,...,NEW_RECOVERED,TOTAL_RECOVERED,NEW_ACTIVE,TOTAL_ACTIVE,NEW_HOSPITALIZED,TOTAL_HOSPITALIZED,County,Population,Percentage of County with Coronavirus,Percent of County Tested
0,2020-03-05,Williamson,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Williamson,238412.0,NaN,NaN
1,2020-03-06,Williamson,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Williamson,238412.0,NaN,NaN
2,2020-03-07,Williamson,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Williamson,238412.0,NaN,NaN
3,2020-03-08,Davidson,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Davidson,694144.0,NaN,NaN
4,2020-03-08,Shelby,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Shelby,937166.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6415,2020-05-28,Wayne,63,0.0,63.0,0.0,63.0,2203.0,2266.0,9.0,...,0.0,4.0,0.0,59.0,0.0,2.0,Wayne,16673.0,0.354,26.8
6416,2020-05-28,Weakley,26,0.0,26.0,0.0,26.0,1180.0,1206.0,4.0,...,1.0,25.0,-1.0,1.0,0.0,1.0,Weakley,33328.0,0.003,7.2
6417,2020-05-28,White,30,2.0,30.0,2.0,30.0,1296.0,1326.0,26.0,...,3.0,22.0,-1.0,8.0,0.0,3.0,White,27345.0,0.029,9.6
6418,2020-05-28,Williamson,533,1.0,533.0,1.0,533.0,9215.0,9748.0,98.0,...,3.0,350.0,-2.0,173.0,0.0,46.0,Williamson,238412.0,0.073,8.0
6419,2020-05-28,Wilson,387,5.0,387.0,5.0,387.0,5942.0,6329.0,66.0,...,6.0,236.0,-1.0,143.0,2.0,29.0,Wilson,144657.0,0.099,8.5