In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import datetime
import numpy as np

In [2]:
daily = "https://www.tn.gov/health/cedep/ncov.html"
viral = pd.read_html(daily)
df=viral[3]
testing = df.drop([10])
age_groups = testing.rename(columns={'Age Ranges of Confirmed Cases.1': 'Number_Cases'})
age_groups

  Age Ranges of Confirmed Cases  Number_Cases
0                          0-10            16
1                         11-20            71
2                         21-30           346
3                         31-40           221
4                         41-50           224
5                         51-60           218
6                         61-70           153
7                         71-80            87
8                           80+            28
9                       Pending             9

In [3]:
df_=viral[4]

# df = df[:-1]
df

   Age Ranges of Confirmed Cases  Age Ranges of Confirmed Cases.1
0                           0-10                               16
1                          11-20                               71
2                          21-30                              346
3                          31-40                              221
4                          41-50                              224
5                          51-60                              218
6                          61-70                              153
7                          71-80                               87
8                            80+                               28
9                        Pending                                9
10                         Total                             1373

In [33]:
TNpop = pd.read_csv("Population Estimates by County.csv")
TNpop["Population Estimates by County"]= TNpop["Population Estimates by County"].str.split("County", n = 1, expand = True)
TNpop = TNpop.rename(columns={'Population Estimates by County': 'County'})
TNpop=TNpop.drop([0])
TNpop=TNpop[:-1]
TN_county_populations = TNpop.rename(columns={'Unnamed: 1': 'Population'})
TN_county_populations["Population"] = TN_county_populations["Population"].str.replace(",","").astype(int)
TN_county_populations

         County  Population
1     Anderson        76978
2      Bedford        49713
3       Benton        16160
4      Bledsoe        15064
5       Blount       133088
..          ...         ...
91       Wayne        16673
92     Weakley        33328
93       White        27345
94  Williamson       238412
95      Wilson       144657

[95 rows x 2 columns]

In [34]:
data=viral[4]

data["County"]= data["County"].str.split("County", n = 1, expand = True)
data = data[:-3]
data

        County  Cases
0     Anderson      5
1      Bedford      1
2       Benton      3
3      Bledsoe      2
4       Blount      9
..         ...    ...
62  Washington     14
63     Weakley      1
64       White      1
65  Williamson     95
66      Wilson     20

[67 rows x 2 columns]

In [36]:
TN_pop_cases = pd.merge(TN_county_populations, data, how='inner', on='County')
TN_pop_cases

Empty DataFrame
Columns: [County, Population, Cases]
Index: []

In [35]:
TN_pop_cases["Percentage of County Population"] = TN_pop_cases["Cases"]/TN_pop_cases["Population"]
TN_pop_cases

Empty DataFrame
Columns: [County, Population, Cases]
Index: []

In [ ]:
totals = TN_pop_cases.sum()
total = pd.DataFrame(totals)
total

df_counties=viral[4]
file = datetime.datetime.today()
date = file[0:10]
date

In [ ]:
# from pathlib import Path
# p = Path('C:/Users/clayf/Documents/HOC/Covid_predictions/TN/Resources/')
df_counties.to_csv('C:/Users/clayf/Documents/HOC/Covid_predictions/TN/Resources/' + date +'counties2.csv',index=False)

In [ ]:
US = "https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fcases-in-us.html"
us_data = pd.read_html(US)
us_total_cases = us_data[0]
us_total_cases
x=us_data[0]
x