In [35]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import datetime

In [9]:
daily = "https://www.tn.gov/health/cedep/ncov.html"
viral = pd.read_html(daily)
df=viral[0]
df

,Laboratory Type,Positive Test,Negative Tests,Total
0,State PH Lab,111,1111,1222
1,Non-State PH Lab,846,12841,13687
2,Total,957,13952,14909
3,"* Please note, these data are meant to provide...","* Please note, these data are meant to provide...","* Please note, these data are meant to provide...","* Please note, these data are meant to provide..."

In [32]:
data=viral[4]
data

               County  Cases
0     Anderson County      3
1      Bedford County      1
2       Benton County      1
3       Blount County      4
4      Bradley County      5
5     Campbell County      2
6       Cannon County      1
7      Carroll County      3
8     Cheatham County      7
9      Chester County      2
10   Claiborne County      2
11       Cocke County      1
12  Cumberland County      6
13    Davidson County    203
14      Dekalb County      2
15     Dickson County      7
16        Dyer County      3
17     Fayette County      3
18    Franklin County      3
19      Gibson County      2
20      Greene County      8
21      Grundy County      1
22     Hamblen County      2
23    Hamilton County     28
24      Hardin County      1
25     Hawkins County      1
26     Houston County      2
27   Jefferson County      4
28        Knox County     26
29       Lewis County      2
30     Lincoln County      1
31      Loudon County      6
32       Macon County      1
33     Madison County      2
34      Marion County      2
35       Maury County      7
36      McMinn County      3
37       Meigs County      1
38      Monroe County      2
39  Montgomery County      6
40     Overton County      1
41       Perry County      1
42      Putnam County     11
43       Roane County      1
44   Robertson County     20
45  Rutherford County     27
46       Scott County      1
47      Sevier County      3
48      Shelby County    147
49    Sullivan County      4
50      Sumner County     43
51      Tipton County      8
52      Unicoi County      1
53  Washington County      9
54       White County      1
55  Williamson County     70
56      Wilson County     13
57            Pending    112
58          Out of TN    117
59        Grand Total    957

In [78]:
df_counties=viral[4]
file = datetime.datetime.today()
date = file[0:10]
date

'2020-03-26'

In [80]:
from pathlib import Path
p = Path('C:/Users/clayf/Documents/HOC/Covid_predictions/TN/Resources/')
df_counties.to_csv('C:/Users/clayf/Documents/HOC/Covid_predictions/TN/Resources/' + date +'counties2.csv',index=False)

In [7]:
df

,Laboratory Type,Positive Test,Negative Tests,Total
0,State PH Lab,111,1111,1222
1,Non-State PH Lab,846,12841,13687
2,Total,957,13952,14909
3,"* Please note, these data are meant to provide...","* Please note, these data are meant to provide...","* Please note, these data are meant to provide...","* Please note, these data are meant to provide..."

In [26]:
US = "https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fcases-in-us.html"
us_data = pd.read_html(US)
us_total_cases = us_data[0]
us_total_cases
x=us_data[0]
x

                     0      1
0       Travel-related    636
1        Close contact   1074
2  Under investigation  66730
3          Total cases  68440