In [96]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import datetime

In [97]:
daily = "https://www.tn.gov/health/cedep/ncov.html"
viral = pd.read_html(daily)
df=viral[3]
testing = df.drop([10])
age_groups = testing.rename(columns={'Age Ranges of Confirmed Cases.1': 'Number_Cases'})
age_groups

  Age Ranges of Confirmed Cases  Number_Cases
0                          0-10            13
1                         11-20            56
2                         21-30           260
3                         31-40           161
4                         41-50           151
5                         51-60           141
6                         61-70            96
7                         71-80            56
8                           80+            16
9                       Pending             7

In [112]:
data=viral[4]

data["County"]= data["County"].str.split("County", n = 1, expand = True)
data

         County  Cases
0     Anderson       3
1      Bedford       1
2       Benton       1
3       Blount       4
4      Bradley       5
5     Campbell       2
6       Cannon       1
7      Carroll       3
8     Cheatham       7
9      Chester       2
10   Claiborne       2
11       Cocke       1
12  Cumberland       6
13    Davidson     203
14      Dekalb       2
15     Dickson       7
16        Dyer       3
17     Fayette       3
18    Franklin       3
19      Gibson       2
20      Greene       8
21      Grundy       1
22     Hamblen       2
23    Hamilton      28
24      Hardin       1
25     Hawkins       1
26     Houston       2
27   Jefferson       4
28        Knox      26
29       Lewis       2
30     Lincoln       1
31      Loudon       6
32       Macon       1
33     Madison       2
34      Marion       2
35       Maury       7
36      McMinn       3
37       Meigs       1
38      Monroe       2
39  Montgomery       6
40     Overton       1
41       Perry       1
42      Putnam      11
43       Roane       1
44   Robertson      20
45  Rutherford      27
46       Scott       1
47      Sevier       3
48      Shelby     147
49    Sullivan       4
50      Sumner      43
51      Tipton       8
52      Unicoi       1
53  Washington       9
54       White       1
55  Williamson      70
56      Wilson      13
57      Pending    112
58    Out of TN    117
59  Grand Total    957

In [95]:
df_counties=viral[4]
file = datetime.datetime.today()
date = file[0:10]
date

TypeError: 'datetime.datetime' object is not subscriptable

In [80]:
from pathlib import Path
p = Path('C:/Users/clayf/Documents/HOC/Covid_predictions/TN/Resources/')
df_counties.to_csv('C:/Users/clayf/Documents/HOC/Covid_predictions/TN/Resources/' + date +'counties2.csv',index=False)

In [122]:
testy = viral[0]
testy
tests = testy.drop([3])
tot = tests.iloc[:,3].values
pos = tests.iloc[:,1].values
tot

array(['1222', '13687', '14909'], dtype=object)

In [26]:
US = "https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fcases-in-us.html"
us_data = pd.read_html(US)
us_total_cases = us_data[0]
us_total_cases
x=us_data[0]
x

                     0      1
0       Travel-related    636
1        Close contact   1074
2  Under investigation  66730
3          Total cases  68440