In [18]:
import pandas as pd
import datetime
import time
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
date = datetime.datetime.today()
date_modify = str(date)
date_to_add = date_modify[0:10]

In [9]:
from splinter import Browser
from bs4 import BeautifulSoup
import os

def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {'executable_path': "C:/Users/clayf/Documents/web-scraping-challenge/Mission_to_Mars/chromedriver.exe"}
    return Browser("chrome", **executable_path, headless=False)



browser = init_browser()
url = 'https://www.tn.gov/health/cedep/ncov/data/downloadable-datasets.html'
browser.visit(url)
browser.click_link_by_partial_text('County')

In [12]:
import shutil
shutil.move("C:/Users/clayf/Downloads/Public-Dataset-County-New.xlsx", "C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/daily.csv")

'C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/daily.csv'

In [22]:
TN=pd.read_excel("C:/Users/clayf/Documents/Coronavirus/Covid_predictions/TN/Resources/Public-Dataset-County-New (5).xlsx")
TN

,DATE,COUNTY,TOTAL_CASES,NEW_CASES,TOTAL_CONFIRMED,NEW_CONFIRMED,POS_TESTS,NEG_TESTS,TOTAL_TESTS,NEW_TESTS,NEW_DEATHS,TOTAL_DEATHS,NEW_RECOVERED,TOTAL_RECOVERED,NEW_ACTIVE,TOTAL_ACTIVE,NEW_HOSPITALIZED,TOTAL_HOSPITALIZED
0,2020-03-05,Williamson,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-06,Williamson,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-07,Williamson,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-08,Davidson,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-08,Shelby,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4669,2020-05-10,Wayne,3,0,3.0,0.0,3.0,301.0,304.0,2.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0
4670,2020-05-10,Weakley,24,0,24.0,0.0,24.0,730.0,754.0,11.0,0.0,0.0,0.0,22.0,0.0,2.0,0.0,1.0
4671,2020-05-10,White,16,0,16.0,0.0,16.0,827.0,843.0,77.0,0.0,0.0,0.0,7.0,0.0,9.0,0.0,1.0
4672,2020-05-10,Williamson,443,2,443.0,2.0,443.0,6372.0,6815.0,193.0,0.0,10.0,1.0,305.0,1.0,128.0,0.0,45.0
4673,2020-05-10,Wilson,300,3,300.0,3.0,300.0,3461.0,3761.0,181.0,0.0,6.0,2.0,169.0,1.0,125.0,0.0,26.0

In [23]:
TNpop = pd.read_csv("Population Estimates by County.csv")
TNpop= TNpop.drop([96])
TNpop = TNpop.drop([0])
TNpop["Population Estimates by County"]= TNpop["Population Estimates by County"].str.split(" County", n = 1, expand = True)
TNpop = TNpop.rename(columns={'Population Estimates by County': 'County'})
TN_county_populations = TNpop.rename(columns={'Unnamed: 1': 'Population'})
TN_county_populations["Population"] = TN_county_populations["Population"].str.replace(",","").astype(int)
TN_county_populations

        County  Population
1     Anderson       76978
2      Bedford       49713
3       Benton       16160
4      Bledsoe       15064
5       Blount      133088
..         ...         ...
91       Wayne       16673
92     Weakley       33328
93       White       27345
94  Williamson      238412
95      Wilson      144657

[95 rows x 2 columns]

In [29]:
withPop=TN.merge(TN_county_populations,left_on='COUNTY',right_on='County', how='left')
withPop

,DATE,COUNTY,TOTAL_CASES,NEW_CASES,TOTAL_CONFIRMED,NEW_CONFIRMED,POS_TESTS,NEG_TESTS,TOTAL_TESTS,NEW_TESTS,NEW_DEATHS,TOTAL_DEATHS,NEW_RECOVERED,TOTAL_RECOVERED,NEW_ACTIVE,TOTAL_ACTIVE,NEW_HOSPITALIZED,TOTAL_HOSPITALIZED,County,Population
0,2020-03-05,Williamson,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Williamson,238412.0
1,2020-03-06,Williamson,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Williamson,238412.0
2,2020-03-07,Williamson,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Williamson,238412.0
3,2020-03-08,Davidson,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Davidson,694144.0
4,2020-03-08,Shelby,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shelby,937166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4669,2020-05-10,Wayne,3,0,3.0,0.0,3.0,301.0,304.0,2.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0,Wayne,16673.0
4670,2020-05-10,Weakley,24,0,24.0,0.0,24.0,730.0,754.0,11.0,0.0,0.0,0.0,22.0,0.0,2.0,0.0,1.0,Weakley,33328.0
4671,2020-05-10,White,16,0,16.0,0.0,16.0,827.0,843.0,77.0,0.0,0.0,0.0,7.0,0.0,9.0,0.0,1.0,White,27345.0
4672,2020-05-10,Williamson,443,2,443.0,2.0,443.0,6372.0,6815.0,193.0,0.0,10.0,1.0,305.0,1.0,128.0,0.0,45.0,Williamson,238412.0
4673,2020-05-10,Wilson,300,3,300.0,3.0,300.0,3461.0,3761.0,181.0,0.0,6.0,2.0,169.0,1.0,125.0,0.0,26.0,Wilson,144657.0