In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [5]:
daily = "https://www.tn.gov/health/cedep/ncov.html"
viral = pd.read_html(daily)
df=viral[0]
df
df2=viral[1]
df2
df3=viral[2]
df3

,Age Ranges of Confirmed Cases,Age Ranges of Confirmed Cases.1
0,0-10,6
1,11-20,30
2,21-30,162
3,31-40,88
4,41-50,74
5,51-60,67
6,61-70,44
7,71-80,25
8,80+,8
9,Unknown,1
10,*Numbers within tables may not add up to total...,*Numbers within tables may not add up to total...