In [ ]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import datetime
import numpy as np

In [2]:
daily = "https://www.tn.gov/health/cedep/ncov.html"
viral = pd.read_html(daily)
df=viral[3]
testing = df.drop([10])
age_groups = testing.rename(columns={'Age Ranges of Confirmed Cases.1': 'Number_Cases'})
age_groups

  Age Ranges of Confirmed Cases  Number_Cases
0                          0-10            15
1                         11-20            63
2                         21-30           314
3                         31-40           194
4                         41-50           196
5                         51-60           191
6                         61-70           126
7                         71-80            75
8                           80+            20
9                       Pending             9

In [11]:
TNpop = pd.read_csv("Population Estimates by County.csv")
TNpop= TNpop.drop([96])
TNpop = TNpop.drop([0])
TNpop["Population Estimates by County"]= TNpop["Population Estimates by County"].str.split("County", n = 1, expand = True)
TNpop = TNpop.rename(columns={'Population Estimates by County': 'County'})
TN_county_populations = TNpop.rename(columns={'Unnamed: 1': 'Population'})
TN_county_populations["Population"] = TN_county_populations["Population"].str.replace(",","").astype(int)
TN_county_populations

         County  Population
1     Anderson        76978
2      Bedford        49713
3       Benton        16160
4      Bledsoe        15064
5       Blount       133088
..          ...         ...
91       Wayne        16673
92     Weakley        33328
93       White        27345
94  Williamson       238412
95      Wilson       144657

[95 rows x 2 columns]

In [12]:
data=viral[4]

data["County"]= data["County"].str.split("County", n = 1, expand = True)
data

         County  Cases
0     Anderson       4
1      Bedford       1
2       Benton       2
3       Blount       6
4      Bradley       6
..          ...    ...
56  Williamson      91
57      Wilson      20
58      Pending    172
59    Out of TN    141
60  Grand Total   1203

[61 rows x 2 columns]

In [13]:
TN_pop_cases = pd.merge(TN_county_populations, data, how='inner', on='County')

In [14]:
TN_pop_cases["Percentage of County Population"] = TN_pop_cases["Cases"]/TN_pop_cases["Population"]
TN_pop_cases

         County  Population  Cases  Percentage of County Population
0     Anderson        76978      4                         0.000052
1      Bedford        49713      1                         0.000020
2       Benton        16160      2                         0.000124
3       Blount       133088      6                         0.000045
4      Bradley       108110      6                         0.000055
5     Campbell        39842      4                         0.000100
6       Cannon        14678      2                         0.000136
7      Carroll        27767      4                         0.000144
8     Cheatham        40667      7                         0.000172
9      Chester        17297      2                         0.000116
10   Claiborne        31959      2                         0.000063
11       Cocke        36004      1                         0.000028
12  Cumberland        60520      6                         0.000099
13    Davidson       694144    216                         0.000311
14      Dekalb        20490      3                         0.000146
15     Dickson        53948      9                         0.000167
16        Dyer        37159      3                         0.000081
17     Fayette        41133      3                         0.000073
18    Franklin        42208      3                         0.000071
19      Gibson        49133      2                         0.000041
20      Greene        69069      8                         0.000116
21      Grundy        13427      1                         0.000074
22     Hamblen        64934      2                         0.000031
23    Hamilton       367804     30                         0.000082
24      Hardin        25652      1                         0.000039
25     Hawkins        56786      2                         0.000035
26     Houston         8201      2                         0.000244
27   Jefferson        54495      5                         0.000092
28        Knox       470313     31                         0.000066
29       Lewis        12268      2                         0.000163
30     Lincoln        34366      1                         0.000029
31      Loudon        54068      6                         0.000111
32       Macon        24602      1                         0.000041
33     Madison        97984      3                         0.000031
34      Marion        28907      2                         0.000069
35       Maury        96387      7                         0.000073
36       Meigs        12422      1                         0.000081
37      Monroe        46545      2                         0.000043
38  Montgomery       208993      9                         0.000043
39     Overton        22241      1                         0.000045
40       Perry         8076      2                         0.000248
41      Putnam        80245     13                         0.000162
42       Roane        53382      1                         0.000019
43   Robertson        71813     22                         0.000306
44  Rutherford       332285     39                         0.000117
45       Scott        22068      2                         0.000091
46      Sevier        98250      6                         0.000061
47      Shelby       937166    201                         0.000214
48    Sullivan       158348      6                         0.000038
49      Sumner       191283     58                         0.000303
50      Tipton        61599     10                         0.000162
51      Unicoi        17883      1                         0.000056
52  Washington       129375     10                         0.000077
53       White        27345      1                         0.000037
54  Williamson       238412     91                         0.000382
55      Wilson       144657     20                         0.000138

In [21]:
totals = TN_pop_cases.sum()
total = pd.DataFrame(totals)
total

                                                                                 0
County                           Anderson Bedford Benton Blount Bradley Campbel...
Population                                                                 5932649
Cases                                                                          886
Percentage of County Population                                         0.00596179

df_counties=viral[4]
file = datetime.datetime.today()
date = file[0:10]
date

In [ ]:
dataTN = pd.merge()

In [ ]:
from pathlib import Path
p = Path('C:/Users/clayf/Documents/HOC/Covid_predictions/TN/Resources/')
df_counties.to_csv('C:/Users/clayf/Documents/HOC/Covid_predictions/TN/Resources/' + date +'counties2.csv',index=False)

In [ ]:
testy = viral[0]
testy
tests = testy.drop([3])
tot = tests.iloc[:,3].values
pos = tests.iloc[:,1].values
tot

In [ ]:
US = "https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fcases-in-us.html"
us_data = pd.read_html(US)
us_total_cases = us_data[0]
us_total_cases
x=us_data[0]
x